html {
    font-family: 'Rajdhani', sans-serif;
}

body {
    margin: 0px;
    color: white;
}

#header-img {
    width: 150px;
    height: 100px;;
}
#header {
    position: fixed;
    width: 100%;
}

#encabezado {
    display: flex;
    background-color: #000000;
    justify-self: right;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    padding-bottom: 1em;
    padding-right: 1em;
}

#bienvenida {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-top: 7em;
    padding-bottom: 8em;
    padding-left: 0%;
}

#img-perfil {
    width: 20em;/*no funciona*/

}

.titulo {
    color: black;
    text-align: center;
}

#bienvenida p {
    text-align: justify;
    width: 80%;
    padding: 1em;
    color: black;
    border: 5px solid gray;

}

#descripcion {
    display: flex; 
    text-align: center;
    flex-direction: column;
    background-color: #2A2D34;
    padding-bottom: 2em;
    align-items: center;
}


#account {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-top: 3em;
    padding-bottom: 5em;
    align-items: center;/*esta centrando la columna no la linea!!!!!!!*/

}

ul {
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 10px; /* Separamos la lista de la izquierda */
    justify-content: space-around;
    list-style-type: none;
    display: flex;
}
    
li {
    padding-right: 50px; /*espacio entre las viñetas y el list item */

}

.nav-link {
    text-decoration: none;
    color: gray;
}


video {
    max-width: 15em;
}
#nav-bar-mini {
    display: none;
}


@media screen and (min-width: 840px) and (max-width: 1450px){
    #img-perfil {
        width: 24em;
    }
    #header {
        width: 100%;
    }

    
}

@media screen and (min-width: 840px) and (max-width: 1350px){
    #img-perfil {
        width: 15em;

    }
    video {
        max-width: 10em;
    }
    
}

@media screen and (min-width: 780px) and (max-width: 1024px){
    #img-perfil {
        width: 15em;
    }
    video {
        max-width: 10em;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px){
    #img-perfil {
        width: 10em;
    }
    video {
        max-width: 10em;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
}

@media screen and (max-width: 480px){
    #img-perfil {
        width: 10em;
    }
    video {
        max-width: 10em;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
}