html {
    font-family: 'Rajdhani', sans-serif;
}

body {
    margin: 0px;
    color: white;
}

#header-img {
    width: 150px;
    height: 100px;;
}
#header {
    position: fixed;
    width: 100%;
}

#encabezado {
    display: flex;
    background-color: #000000;
    justify-self: right;
    /*
    box-shadow: 5px 5px 15px black;*/
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    padding-bottom: 1em;
    padding-right: 1em;
}

#bienvenida {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 8em;
}

#img-perfil {
    width: 20em;
}

.artistName {
    color: black;
    text-align: center;
}

#izquierda {
    display: flex;
    flex-direction: column;
    padding-left: 17em;
}

#derecha {
    text-align: justify;
    color: black;
    width: 50%;
    margin-left: 2em;
}
h1 {
    margin-top: 2px;
}

#descripcion {
    display: flex; 
    text-align: center;
    flex-direction: column;
    background-color: #2A2D34;
    padding-bottom: 2em;
    align-items: center;
}


#account {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-top: 3em;
    padding-bottom: 5em;
    align-items: center;/*esta centrando la columna no la linea!!!!!!!*/

}

ul {
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 10px; /* Separamos la lista de la izquierda */
    justify-content: space-around;
    list-style-type: none;
    display: flex;
}
    
li {
    padding-right: 50px; /*espacio entre las viñetas y el list item */

}

.nav-link {
    text-decoration: none;
    color: gray;
}


video {
    max-width: 15em;
}
#nav-bar-mini {
    display: none;
}


@media (max-width: 1366px){
    #img-perfil {
        width: 24em;
    }
    #header {
        width: 100%;
    }
    #izquierda {
        padding-left: 5em;
    }
    #bienvenida {
        padding-left: 0;

    }
    h1 {
        margin-top: 2px;
    }    
    #foto-artista {
        padding-left: 0em;
        align-self: center;
    }
    #bienvenida {
        flex-direction: column;
    }
    #izquierda {
        padding-left: 0em;
    }
    h2 {
        margin: 0.5em;
    }
    .artistName {
        padding-left: 0em;
    }
    #derecha {
        width: 90%;
        margin: 1em;
    }
    
}

@media (max-width: 840px){
    #img-perfil {
        width: 15em;

    }
    video {
        max-width: 10em;
    }
    #izquierda {
        padding-left: 3em;
    }
    #bienvenida {
        padding-left: 0;

    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
    h1 {
        margin-top: 2px;
    }
    #encabezado {
        flex-direction: column;
    }
    #header-img {
        display: none;
    }
    #foto-artista {
        padding-left: 0em;
        align-self: center;
    }
    #bienvenida {
        flex-direction: column;
    }
    #izquierda {
        padding-left: 0em;
    }
    h2 {
        margin: 0.5em;
    }
    .artistName {
        padding-left: 0em;
    }
    #derecha {
        width: 90%;
        margin: 1em;
    }
}

@media (max-width: 500px){
    #img-perfil {
        width: 15em;
    }
    video {
        max-width: 10em;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
    h1 {
        margin-top: 2px;
    }
    #encabezado {
        flex-direction: column;
    }
    #header-img {
        display: none;
    }
    #foto-artista {
        padding-left: 0em;
        align-self: center;
    }
    #bienvenida {
        flex-direction: column;
    }
    #izquierda {
        padding-left: 0em;
    }
    h2 {
        margin: 0.5em;
    }
    .artistName {
        padding-left: 0em;
    }
    #derecha {
        width: 90%;
        margin: 1em;
    }
}

@media (max-width: 400px){
    #img-perfil {
        width: 10em;
    }
    video {
        max-width: 10em;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
    h1 {
        margin-top: 2px;
    }
    #encabezado {
        flex-direction: column;
    }
    #header-img {
        display: none;
    }
    #foto-artista {
        padding-left: 0em;
        align-self: center;
    }
    #bienvenida {
        flex-direction: column;
    }
    #izquierda {
        padding-left: 0em;
    }
    h2 {
        margin: 0.5em;
    }
    .artistName {
        padding-left: 0em;
    }
    #derecha {
        width: 90%;
        margin: 1em;
    }
}

@media (max-width: 300px){
    #img-perfil {
        width: 10em;
    }
    video {
        max-width: 10em;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-mini {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .nav-link-mini {
        text-decoration: none;
        color: gray;
    }
    h1 {
        margin-top: 2px;
    }    #encabezado {
        flex-direction: column;
    }
    #header-img {
        display: none;
    }
    #foto-artista {
        padding-left: 0em;
        align-self: center;
    }
    #bienvenida {
        flex-direction: column;
    }
    #izquierda {
        padding-left: 0em;
    }
    h2 {
        margin: 0.5em;
    }
    .artistName {
        padding-left: 0em;
    }
    #derecha {
        width: 90%;
        margin: 1em;
    }
}